<a href="mailto:elcorreoquequieres@correo.com?Subject=AquÌ%20el%20asunto%20del%20mail">AquÌ el texto que quieras</a><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Castellani | Conectacto </title>
  <meta name="description" content="Web index Castellani Vidrios">
  <meta name="author" content="Castellani Vidrios">

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/aos/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="css/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="css/remixicon/remixicon.css" rel="stylesheet">
  <link href="css/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/stilosindex2.css" rel="stylesheet">


</head>

<body>
 <!-- ======= NAVBAR ======= -->
 <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Castellani</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li class="dropdown"><a href="/vidrios">Vidrios</a>
          <ul>
            <li><a href="/dvh">DVH</a></li>
          </ul>
          </li>

          <li class="dropdown"><a href="#">Perfileria</a>
          <ul>
            <li><a class="nav-link scrollto" href="/Aluminio">Aluminio</a></li>
            <li><a class="nav-link scrollto" href="/pvc">PVC</a></li>
         
          </ul>
          </li>
          <li><a class="nav-link scrollto" href="#portfolio">Obras</a></li>
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="getstarted scrollto" href="/login">Usuarios</a></li>
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->

          <!--           
          <li class="dropdown"><a href="#"><span>Productos</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Vidrios</a></li>
              <li class="dropdown"><a href="#"><span>Carpinteria</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Aluminio</a></li>
                  <li><a href="#">PVC</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> 
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>  -->





        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
   <section id="hero" class="d-flex align-items-center">
  <div id="">
    <figure>
      <img src="https://i.imgur.com/wY6u9or.jpg" style="text-align: left; width: 100%; float: left; margin: 0;" width="20%" alt>
    </figure>
  </div>

  </section>   
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="section-title">
        <h2>COMUNICATE CON NOSOTROS</h2>
      </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Tu Nombre</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Tu Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Asunto</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                  <label for="name">Mensaje</label>
                  <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Tu mensaje a sido enviado!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
          </div>

          
          <div class="col">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Ubicacion:</h4>
                    <p>4400 La Rioja 465, Salta, Capital</p>
                  </div>
      
                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>
<a href="mailto:presupuestos@castellanividrios.com.ar?Subject=Prespuesto Castellani">Escribenos aqui</a>
</p>
                  </div>
      
                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Telefonos:</h4>
                    <p>0387 - 4234500 | 0387 - 4234555</p>
                  </div>
          
        </div>



    <!--    
    <div class="container">
        <div class="row">
          <div class="col align-self-start">One of three columns</div>
          <div class="col align-self-center">One of three columns</div>
          <div class="col align-self-end">One of three columns</div>
        </div>
      </div> -->
   
   
   
   
  
        </div>
       
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7243.789107088201!2d-65.409749!3d-24.799064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3a0c892c74d%3A0x583f13f7b75067f3!2sLa%20Rioja%20465%2C%20A4400%20Salta%2C%20Argentina!5e0!3m2!1ses-419!2sus!4v1674047796120!5m2!1ses-419!2sus" width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>

  </section><!-- End Contact Section -->
    <!-- End Contact Section -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

       
        <div class="container justify-content-center">

          <!-- Three columns of text below the carousel -->
          <div class="row justify-content-center">
            <div class="col order-1 ">
              <img class="rounded-circle" src="https://i.imgur.com/7SSJKj0.png" alt="sdad" width="140" height="140">
              <h4 style="text-align: justify; color: azure;">&nbsp&nbsp&nbsp&nbsp&nbsp+100 <br>
                &nbsp&nbspEmpleados</h2>
              <p></p>
         
            </div><!-- /.col-lg-4 -->
            <div class="col order-2">
              &nbsp&nbsp&nbsp<img class="rounded-circle" src="https://i.imgur.com/HwAXoQY.png" alt="sdad" width="140" height="140">
              <h4 style="text-align: left; color: azure;">&nbsp&nbsp&nbsp&nbspExcelente<br>ambiente laboral</h2>
            
            
            </div><!-- /.col-lg-4 -->
            <div class="col order-3">
              <img class="rounded-circle" src="https://i.imgur.com/Csgb1Ba.png" alt="sdad" width="140" height="140">
              <h4 style="text-align: left; color: azure;">&nbspCrecimiento<br>&nbsp&nbspprofesional</h2>
            
           
            </div><!-- /.col-lg-4 -->

            <div class="col order-4">
              <img class="rounded-circle" src="https://i.imgur.com/ltcXWR0.png" alt="sdad" width="140" height="140">
              <h4 style="text-align: left; color: azure;">&nbsp&nbspTrabajamos<br>en todo el pa√≠s</h2>
            
           
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
  

        </div>

              
                 

      </div>
    </section> 

<!-- ======= sector de precios Section ======= -->
  <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>PASANT√çAS LABORALES</h2>
          <p>Queremos ser protagonistas de los primeros pasos de nuestros estudiantes en su desarrollo profesional y acompa√±arlos
            en el inicio al mundo laboral. Es por eso que firmamos un acuerdo de Pasant√≠as. Orientamos las b√∫squedas en las siguientes
            carreras; Ingenier√≠a Industrial, Ingenier√≠a Civil, Arquitectura y Urbanismo, Higiene y Seguridad, entre otras.</p>
        </div>
        <section id="hero" class="d-flex align-items-center">
        <div class="container-fluid">
          <figure >
            <img src="https://i.imgur.com/6n6HDCG.jpg" style="text-align: left; width: 100%; float: left; margin: 0;padding-bottom: 29em;" width="100%" srcset="">
          </figure>
        </section>
      </div>
    </section>
    





    <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Castellani</h3>
            <p>
              A4402 La Rioja 465 <br>
              Salta, Capital<br>
              Argentina <br><br>
              <strong>Phone:</strong> +54 0387 - 4234500<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Accesos rapidos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acerca de</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chat Online</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Redes Sociales</h4>
            <p>Ser una empresa l√≠der, s√≥lida, confiable, con rentabilidad sostenida y en continuo crecimiento en el
              mercado que participamos, que se distinga por proporcionar una calidad de productos y servicios de
              excelencia a sus clientes.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Castellani</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">Gianfranco</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="css/aos/aos.js"></script>
  <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="css/glightbox/js/glightbox.min.js"></script>
  <script src="css/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="css/swiper/swiper-bundle.min.js"></script>
  <script src="css/waypoints/noframework.waypoints.js"></script>
  <script src="css/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>