<!DOCTYPE html>
<html>
  <head>
    <title>Paystub Download</title>
  </head>
  <body>
    <h1>Download Paystubs</h1>
    <form action="/download" method="post">
      <label for="month">Select Month:</label>
      <select id="month" name="month">
        <% for (let month of months) { %>
          <option value="<%= month %>"><%= month %></option>
        <% } %>
      </select>
      <br><br>
      <label for="employee">Select Employee:</label>
      <select id="employee" name="employee">
        <% for (let employee of employees) { %>
          <option value="<%= employee %>"><%= employee %></option>
        <% } %>
      </select>
      <br><br>

      <input type="submit" value="Download">
    </form>
  </body>
</html>
