<html>
<head>
	<title>Página web en mantenimiento</title>
	<meta charset="utf-8"/>
	<meta name="description" content="Ejemplo práctico de aplicación del posicionamiento fijo"/>
	<meta name="author" content="francesc ricart"/>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <style>
		/*TIPOGRAFÍAS*/
		@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
		/*INICIALIZACIÓN DE ESTILOS*/
		*{
			margin:0;
			padding:0;
			box-sizing:border-box;
		}

		body{background-color:#f6f6f6;}

		/*PERSONALIZACIÓN DE P.MANTENIMIENTO*/
		.mantenimiento{
			width:600px;
			height:400px;
			padding:12px;
			border:1px solid #000;
			border-radius:10px;
			margin-top:-200px;
			margin-left:-300px;
			background-color:#fff;
			position:fixed;
			top:50%;
			left:50%;
		}
		.mantenimiento h1, .mantenimiento h2, .mantenimiento p{
			font-family:"noto sans", sans-serif;
		}

		.mantenimiento h1{
			font-size:3em;
			text-align:center;
			padding:10px;
		}
		.mantenimiento h2{
			font-size:2em;
			font-style:italic;
		}
		.mantenimiento p{
			margin:9px 0;
			line-height:1.5em;
		}

	</style>
</head>
<body>
	<div class="mantenimiento">
        
		<h1>Página web en <img class="" src="img/logo_iniciarsesion-04.png" alt="" width="100" height="100">construcción</h1>
        
		<p>Lo sentimos, no hemos encontrado un mensaje más original para decirte que estamos trabajando en ello.</p>
		<h2>Web disponible en: </h2>

        <p>
            <span id="days"></span> días / <span id="hours"></span> horas / <span id="minutes"></span> minutos / <span id="seconds"></span> segundos
        </p>
        
	</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => { 

      //===
      // VARIABLES
      //===
      const DATE_TARGET = new Date('01/20/2023 0:01 AM');
      // DOM for render
      const SPAN_DAYS = document.querySelector('span#days');
      const SPAN_HOURS = document.querySelector('span#hours');
      const SPAN_MINUTES = document.querySelector('span#minutes');
      const SPAN_SECONDS = document.querySelector('span#seconds');
      // Milliseconds for the calculations
      const MILLISECONDS_OF_A_SECOND = 1000;
      const MILLISECONDS_OF_A_MINUTE = MILLISECONDS_OF_A_SECOND * 60;
      const MILLISECONDS_OF_A_HOUR = MILLISECONDS_OF_A_MINUTE * 60;
      const MILLISECONDS_OF_A_DAY = MILLISECONDS_OF_A_HOUR * 24

      //===
      // FUNCTIONS
      //===

      /**
      * Method that updates the countdown and the sample
      */
      function updateCountdown() {
          // Calcs
          const NOW = new Date()
          const DURATION = DATE_TARGET - NOW;
          const REMAINING_DAYS = Math.floor(DURATION / MILLISECONDS_OF_A_DAY);
          const REMAINING_HOURS = Math.floor((DURATION % MILLISECONDS_OF_A_DAY) / MILLISECONDS_OF_A_HOUR);
          const REMAINING_MINUTES = Math.floor((DURATION % MILLISECONDS_OF_A_HOUR) / MILLISECONDS_OF_A_MINUTE);
          const REMAINING_SECONDS = Math.floor((DURATION % MILLISECONDS_OF_A_MINUTE) / MILLISECONDS_OF_A_SECOND);
          // Thanks Pablo Monteserín (https://pablomonteserin.com/cuenta-regresiva/)

          // Render
          SPAN_DAYS.textContent = REMAINING_DAYS;
          SPAN_HOURS.textContent = REMAINING_HOURS;
          SPAN_MINUTES.textContent = REMAINING_MINUTES;
          SPAN_SECONDS.textContent = REMAINING_SECONDS;
      }

      //===
      // INIT
      //===
      updateCountdown();
      // Refresh every second
      setInterval(updateCountdown, MILLISECONDS_OF_A_SECOND);
  });
  </script>
</html>